server/.project
client/.project
common/.project
server/.idea
server/out
common/.idea
common/out
client/.idea
client/out
server/.classpath
common/.classpath
client/.classpath
server/.gradle
common/.gradle
client/.gradle
server/build
common/build
client/build
.gradle
.project
.classpath
.metadata
.recommenders
.idea
*.iml
*.log
**/*.class
server/key
server/key.bak
client/settings
client/key
/bin/
docs/FinalReport/Final-Report.aux
docs/FinalReport/Final-Report.log
docs/FinalReport/Final-Report.tex.bak
docs/FinalReport/Final-Report.pdf
docs/FinalReport/Final-Report.synctex.gz
docs/FinalReport/Final-Report.toc
client-test/Observation-Testing/texfiles/
client-test/Observation-Testing/texfiles/observation-testing.aux
client-test/Observation-Testing/texfiles/observation-testing.log
client-test/Observation-Testing/texfiles/observation-testing.pdf
client-test/Observation-Testing/texfiles/observation-testing.synctex.gz
client-test/Observation-Testing/texfiles/observation-testing.tex.bak
client-test/Observation-Testing/texfiles/observation-testing.toc
